@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "tailwindcss";
@tailwind utilities;

/* Must be at the VERY TOP of styles/globals.css */
/* @import "~slick-carousel/slick/slick.css"; */
/* @import "~slick-carousel/slick/slick-theme.css"; */

/* ... the rest of your CSS starts here ... */

/* ... */
html, 
body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  background-color: #ffffff;
  overflow-x: hidden;
}

h2, h3, h4, h5, h6 {
  /* color: #2c2c2c; */
  color: #2C5948;
}

h1 {
  color: #2C5948;
  font: sans-serif;
}

p, a, li {
  color: #555;
  /* color: #2C5948; */
}

span {
  color: #204A3C;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-shapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  overflow: hidden;
}

.shape-circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.1;
  filter: blur(80px);
}

.shape-square {
  position: absolute;
  opacity: 0.08;
  filter: blur(80px);
}

/* Add this to the end of your styles/globals.css file */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7)); /* Adjust 7 based on the number of logos */
  }
}

.scrolling-logos {
  animation: scroll 40s linear infinite; /* Adjust 40s to change speed */
  width: calc(250px * 14); /* 2x the number of logos to ensure seamless loop */
}
/* 
1,70,000
- 15,000
- 25,000

1,30,000 */