@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "tailwindcss";
@tailwind utilities;

/* Must be at the VERY TOP of styles/globals.css */
/* @import "~slick-carousel/slick/slick.css"; */
/* @import "~slick-carousel/slick/slick-theme.css"; */

/* ... the rest of your CSS starts here ... */

/* ... */
html, 
body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  background-color: #ffffff;
}

html {
  overflow-x: hidden;
  
}

body {
  overflow-x: hidden;
  overflow-y: visible !important; /* important for sticky */
}

.pharma-button {
  border: 2px solid #204A3C;
  background-color: #2C5948;
  color: #F9FFFD;
  padding: 0.25rem 1rem; 
  border-radius: 9999px; 
  font-weight: 500;
  letter-spacing: 0.03em;
  transition: all 0.3s ease;
  display: inline-flex;
}

.pharma-button:hover {
  background-color: #1A2E2C; 
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-shapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  overflow: hidden;
}

.shape-circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.1;
  filter: blur(80px);
}

.shape-square {
  position: absolute;
  opacity: 0.08;
  filter: blur(80px);
}

/* Add this to the end of your styles/globals.css file */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7)); /* Adjust 7 based on the number of logos */
  }
}

.scrolling-logos {
  animation: scroll 40s linear infinite; /* Adjust 40s to change speed */
  width: calc(250px * 14); /* 2x the number of logos to ensure seamless loop */
}
/* 
1,70,000
- 15,000
- 25,000

1,30,000 */